# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

# We want to have a dynamic library without any dependencies,
# that's why we statically link standard libs.
build:linux --repo_env=CC=gcc-12
# Needed to build grpc.
build:linux --cxxopt="-std=c++20"

# TODO(mortid0): Remove opts below when https://bugs.chromium.org/p/boringssl/issues/detail?id=492 fixed"
build:linux --copt="-D_XOPEN_SOURCE=700"
build:linux --copt="-Wno-array-bounds"
build:linux --copt="-Wno-stringop-overflow"
build:linux --copt="-Wno-unknown-warning-option"

build:linux --action_env=BAZEL_LINKLIBS=-l%:libstdc++.a
build:linux --action_env=BAZEL_LINKOPTS=-static-libgcc:-lm:-pthread
build:linux --action_env=SETUPTOOLS_USE_DISTUTILS="false"
build:linux --action_env=HADOOP_HOME="/tmp/snark/"
build:linux --action_env=LD_LIBRARY_PATH="./external/jvm/jre/lib/amd64/server"

build:manylinux --crosstool_top=//tools/toolchain:manylinux
build:manylinux --cpu=k8
build:manylinux --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

build:macos --cxxopt="-std=c++20"
build:macos --action_env=SETUPTOOLS_USE_DISTUTILS="false"
build:macos --action_env=HADOOP_HOME="/tmp/snark/"

build:windows --action_env=BAZEL_LINKOPTS=/MT
build:windows --action_env=SETUPTOOLS_USE_DISTUTILS="false"
build:windows --action_env=HADOOP_HOME="C:/usr/local/hadoop/"
build:windows --action_env=APPDATA="C:/usr/local/hadoop/datalake"
build:windows --action_env=LIB="C:/Program Files/OpenSSL-Win64/lib"
build:windows --action_env=INCLUDE="C:/Program Files/OpenSSL-Win64/include"
build:windows --action_env=USERPROFILE="."  # needed for python3.8 pathlib Path.home()
