# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

# Bazel output folders
bazel-bin*
bazel-out*
bazel-DeepGNN*
bazel-testlogs*

# Python package artifacts
src/python/dist/*
src/python/build/*
*.egg-info

#Python cache files
*.pyc

# Binary files
*.so
*.dll

#IDE related
.vscode

# compiler toolchain
.dt11*
