repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v2.3.0
        hooks:
        -   id: check-merge-conflict
        -   id: check-yaml
        -   id: check-json
        -   id: detect-private-key
        -   id: end-of-file-fixer
        -   id: forbid-new-submodules
        -   id: mixed-line-ending
        -   id: name-tests-test
        -   id: no-commit-to-branch
        -   id: pretty-format-json
            args: ["--autofix"]
        -   id: requirements-txt-fixer
        -   id: trailing-whitespace
    -   repo: https://github.com/psf/black
        rev: 22.3.0
        hooks:
        -   id: black
    -   repo: https://github.com/pre-commit/mirrors-mypy
        rev: v0.971
        hooks:
        -   id: mypy
            args: [--config-file, .mypy.ini]
            pass_filenames: false
    -   repo: https://github.com/pycqa/flake8
        rev: '3.9.0'
        hooks:
        -   id: flake8
            additional_dependencies: [flake8-docstrings]
            # https://black.readthedocs.io/en/stable/compatible_configs.html#id2
            args: [--ignore,"E501", --extend-ignore,"E203,W503", --max-line-length, "88"]
            exclude: (test_|_test.py|deepspeed|twinbert|main|conftest|testserver|_adl_reader)
    -   repo: https://github.com/pocc/pre-commit-hooks
        rev: v1.1.1
        hooks:
        - id: clang-format
          args: [--style=Microsoft, -i]
    -   repo: https://github.com/google/pre-commit-tool-hooks
        rev: v1.2.2
        hooks:
            -   id: check-copyright
                args:
                - --copyright
                - |+
                    Copyright (c) Microsoft Corporation.
                    Licensed under the MIT License.
                - --skip_pattern
                - \..*|LICENSE
