ansible==4.10.0
ansible-core==2.11.12
ansible-runner==2.1.2
bcrypt==3.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==36.0.1
docutils==0.18.1
idna==3.3
Jinja2==3.0.3
lockfile==0.12.2
MarkupSafe==2.1.0
packaging==21.3
paramiko==2.10.1
pexpect==4.8.0
ptyprocess==0.7.0
pycparser==2.21
PyNaCl==1.5.0
pyparsing==3.0.7
pypsrp==0.8.1
pyspnego==0.5.0
python-daemon==2.3.0
PyYAML==6.0
requests==2.27.1
resolvelib==0.5.4
six==1.16.0
urllib3==1.26.8
