# for different TF version, we need different addon version,
# please follow the instruction here: https://github.com/tensorflow/addons
# to find which addon version is correct.
horovod[tensorflow]==0.28.1;sys_platform != 'win32'
tensorflow-addons==0.21.0
