aiohttp==3.7.4
attr==0.3.1
fsspec==2021.8.1
# Preferably the vershion should match C++ version defined in the WORKSPACE file.
grpcio==1.53.0
grpcio-health-checking==1.35.0
importlib_metadata==2.0.0
iniconfig==1.0.1
networkx==2.5.1
numpy==1.22.0
packaging==20.4
pluggy==0.13.1
py==1.10.0

# For tests
pytest==6.1.2
requests==2.31.0
scipy==1.10.0
