alabaster==0.7.12
babel==2.10.3
certifi==2024.7.4
chardet==3.0.4
charset-normalizer==2.1.1
docutils==0.18.1
idna==3.7
imagesize==1.2.0
importlib-metadata==4.6.1
Jinja2==3.0.1
MarkupSafe==2.0.1
packaging==21.0
Pygments==2.15.0
pyparsing==2.4.7
pytz==2021.1
requests==2.32.2
setuptools==70.0.0
six==1.15.0
snowballstemmer==2.2.0
sphinx==1.8.5
sphinx-copybutton==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
urllib3==1.26.19
zipp==3.19.1
