-f https://data.pyg.org/whl/torch-1.12.1.html
azureml==0.2.7
azureml-core==1.51.0
horovod[torch]==0.25.0;sys_platform != 'win32'
mlflow-skinny==2.2.2
ray-on-aml==0.2.4
ray[train]==2.4.0
torch-geometric==2.3.1
torch-scatter==2.1.1
torch-sparse==0.6.17
