name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize]
    secrets:
      BAZEL_REMOTE_AZBLOB_SHARED_KEY:
        required: true
  workflow_dispatch:

jobs:
  pre-commit:
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
        os: ["ubuntu-22.04", "macos-13", "windows-2019"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3.5.3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4.7.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run lint
        uses: ./.github/actions/lint
  tests:
    needs: pre-commit
    strategy:
      matrix:
        python-version: ["3.10"]
        os: ["ubuntu-22.04", "macos-13", "windows-2019"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3.5.3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4.7.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Start build cache proxy
        uses: ./.github/actions/buildcache
        env:
          BAZEL_REMOTE_AZBLOB_SHARED_KEY : ${{ secrets.BAZEL_REMOTE_AZBLOB_SHARED_KEY }}
      - name: Run tests
        uses: ./.github/actions/test
  benchmarks:
    needs: tests
    runs-on: "ubuntu-22.04"
    steps:
      - uses: actions/checkout@v3.5.3
      - name: Start build cache proxy
        uses: ./.github/actions/buildcache
        env:
          BAZEL_REMOTE_AZBLOB_SHARED_KEY : ${{ secrets.BAZEL_REMOTE_AZBLOB_SHARED_KEY }}
      - name: Run benchmarks
        uses: ./.github/actions/benchmarks
  wheel:
    runs-on: ubuntu-22.04
    needs: tests
    steps:
      - uses: actions/checkout@v3.5.3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4.7.0
        with:
          python-version: "3.10"
      - name: Upload examples
        uses: actions/upload-artifact@v3.1.2
        with:
          name: examples
          path: examples/*
      - name: Start build cache proxy
        uses: ./.github/actions/buildcache
        env:
          BAZEL_REMOTE_AZBLOB_SHARED_KEY : ${{ secrets.BAZEL_REMOTE_AZBLOB_SHARED_KEY }}
      - name: build wheel
        uses: ./.github/actions/wheel
        with:
          package_version: "0.1.1"
      - name: Upload wheel file
        uses: actions/upload-artifact@v3.1.2
        with:
          name: deepgnn
          path: src/python/dist/*.whl
