name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:

jobs:
  pre-commit:
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
        os: ["ubuntu-22.04", "macos-11", "windows-2019"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3.3.0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4.5.0
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Run lint
        uses: ./.github/actions/lint
  tests:
    needs: pre-commit
    strategy:
      matrix:
        python-version: ["3.10"]
        os: ["ubuntu-22.04", "macos-11", "windows-2019"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3.3.0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4.5.0
        with:
          python-version: ${{ matrix.python-version }}
      #- name: Run tests
      #  uses: ./.github/actions/test
      #  with:
      #    disk_cache: test-${{ matrix.os }}-${{ matrix.python-version }}
  benchmarks:
    needs: tests
    runs-on: "ubuntu-22.04"
    steps:
      - uses: actions/checkout@v3.3.0
      - name: Run benchmarks
        uses: ./.github/actions/benchmarks
        with:
          disk_cache: benchmark-${{ matrix.os }}
  wheel:
    runs-on: ubuntu-22.04
    needs: tests
    steps:
      - uses: actions/checkout@v3.3.0
      - name: Set up Python 3.10
        uses: actions/setup-python@v4.5.0
        with:
          python-version: "3.10"
      - name: Upload examples
        uses: actions/upload-artifact@v3.1.2
        with:
          name: examples
          path: examples/*
      - name: build wheel
        uses: ./.github/actions/wheel
        with:
          package_version: "0.1.1"
      - name: Upload wheel file
        uses: actions/upload-artifact@v3.1.2
        with:
          name: deepgnn
          path: src/python/dist/*.whl
  tf_examples:
    needs: wheel
    strategy:
      matrix:
        python-version: ["3.10"]
        os: ["ubuntu-22.04"]
    runs-on: ${{ matrix.os }}
    env:
      HOROVOD_WITH_GLOO: 1
      HOROVOD_WITHOUT_MPI: 1
      HOROVOD_WITH_TENSORFLOW: 1
      HOROVOD_WITHOUT_PYTORCH: 1
      HOROVOD_WITHOUT_MXNET: 1
    steps:
      - name: Download wheels
        uses: actions/download-artifact@v3.0.2
        with:
          name: deepgnn
      - name: Download examples
        uses: actions/download-artifact@v3.0.2
        with:
          name: examples
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4.5.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tensorflow
        run: pip install --timeout 300 tensorflow
      - name: Install dependencies
        run: pip install --timeout 300 -r tensorflow/requirements.txt
      - name: Check horovod features
        run: horovodrun --check-build
      - name: Uninstall cached deepgnn packages
        run: pip uninstall deepgnn-ge deepgnn-tf
      - name: Install wheels
        run: pip install deepgnn_ge*.whl deepgnn_tf*.whl
      - name: Run AML example
        run: cd ../docs/advanced/ && python aml.py
      - name: Run graphsage examples
        run: cd ./tensorflow/sage/ && sudo chmod +x *.sh && bash ./run.sh CPU && bash ./run.sh CPU disk yes
      - name: Run gcn examples
        run: cd ./tensorflow/gcn/ && sudo chmod +x *.sh && bash ./run.sh CPU cleanup
      - name: Run han examples
        run: cd ./tensorflow/han/ && sudo chmod +x *.sh && bash ./run.sh CPU cleanup
      - name: Run gat examples
        run: cd ./tensorflow/gat/ && sudo chmod +x *.sh && bash ./run.sh CPU cleanup
  torch_examples:
    needs: wheel
    strategy:
      matrix:
        python-version: ["3.10"]
        os: ["ubuntu-22.04"]
    runs-on: ${{ matrix.os }}
    env:
      HOROVOD_WITH_GLOO: 1
      HOROVOD_WITHOUT_MPI: 1
      HOROVOD_WITHOUT_TENSORFLOW: 1
      HOROVOD_WITH_PYTORCH: 1
      HOROVOD_WITHOUT_MXNET: 1
    steps:
      - name: Download wheels
        uses: actions/download-artifact@v3.0.2
        with:
          name: deepgnn
      - name: Download examples
        uses: actions/download-artifact@v3.0.2
        with:
          name: examples
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4.5.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install torch
        run: pip install --timeout 300 torch
      - name: Install dependencies
        run: pip install --timeout 300 -r pytorch/requirements.txt
      - name: Uninstall cached deepgnn packages
        run: pip uninstall deepgnn-ge deepgnn-torch
      - name: Install wheels
        run: pip install deepgnn_ge*.whl deepgnn_torch*.whl
      - name: Run gat examples
        run: bazel test -c opt --config=linux //examples/pytorch/gat:gat_example
      - name: Run graphsage supervised examples
        run: bazel test -c opt --config=linux //examples/pytorch/graphsage:graphsage_example
      - name: Run hetgnn examples
        run: bazel test -c opt --config=linux //examples/pytorch/hetgnn:hetgnn_example
